#navbar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: fixed;
}

.nav-link {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: red;
}

#main-doc {
    position: absolute;
    margin-left: 180px;
    top: 23px;
    border-left: 2px solid;
    padding: 20px;
}